*{
  font-size: small;
}

body{
  body {  min-width:750px;
          min-height: 1500px; };
  margin: 50px;
  background-color: darkslategray;
}

img{
  height: 15px;
}

table, th, td {
  border: 1px solid white;
  color: white;
  border-collapse: collapse;
  padding: 3px;
}

.cell{
  width: 39px;
}

.howToScore{
  width: 150px;
}

td{
  text-align: center;
}

.col1{
  width: 100px;
}

.bonusCell{
  border: 1px white solid;
  width: inherit;
  height: inherit;
  align-self: stretch;
  justify-self: stretch;
}

.yahtzeeBonusCells.game1{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  border: none;
  padding: 0;
  height: 24px;
}
