*{
  font-size: small;
  user-select: none;
}

.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dice{
display: flex;
flex-direction: column;
align-items: center;
}

.dice > button{
  margin: 25px;

}

img.heldDie{
  filter: invert();
}

.die{
  height: 50px;
  width: 50px;
  filter: none;
  margin: 10px;
}

body{
  body {  min-width:750px;
          min-height: 1500px; };
  margin: 50px;
  background-color: darkslategray;
}

.col1 > img{
  height: 15px;
}

table, th, td {
  border: 1px solid white;
  color: white;
  border-collapse: collapse;
  padding: 3px;
}

.cell{
  width: 39px;
}

.howToScore{
  width: 150px;
}

td{
  text-align: center;
}

.col1{
  width: 100px;
}

.bonusCell{
  border: 1px white solid;
  width: inherit;
  height: inherit;
  align-self: stretch;
  justify-self: stretch;
}

.yahtzeeBonusCells.game1{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  border: none;
  padding: 0;
  height: 24px;
}
